.footerWrapper {
  position: relative;
  .lineWrapper {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
  }

  & > .footerWrapperSub {
    position: relative;
    // margin-top: -110px;
    // top: -130px;
    z-index: -999;
    background-image: url(../../assets/footer-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;

    .copy {
      color: #fff;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -70%);
    }
    & .textWrapper {
      position: absolute;
      width: 90%;
      // border: 2px solid red;
      top: 50%;
      left: 3%;
      transform: translate(0%, -50%);
      // text-align: center;
      display: flex;
      // justify-content: space-around;
      align-items: center;

      & > .left {
        flex: 1;
        // background-color: yellow;
      }

      & > .right {
        flex: 3;
        // background: linear-gradient(270deg, #BEB17B 33.25%, rgba(190, 177, 123, 0) 81.01%);

        & > ul {
          background: linear-gradient(
            270deg,
            #beb17b 73.25%,
            rgba(190, 177, 123, 0.3) 100.01%
          );
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;

          & > li {
            text-transform: uppercase;
            color: #1d1d1d;
            padding-left: 50px;

            // &:not(:last-child) {
            //   padding-right: 30px;
            // }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .footerWrapper {
    .lineWrapper {
      display: none;
    }
  }
}

@media only screen and (max-width: 1058px) {
  .footerWrapper {
    & > .footerWrapperSub {
      // margin-top: -38%;
      // margin-top: -8%;

      & > .textWrapper {
        & > .right {
          & > ul {
            & > li {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .footerWrapper {
    & > .footerWrapperSub {
      // margin-top: -38%;
      // margin-top: -8%;

      & > .textWrapper {
        & > .right {
          & > ul {
            & > li {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .footerWrapper {
    & > .footerWrapperSub {
      // margin-top: -38%;
      // margin-top: -8%;

      & > .textWrapper {
        & > .right {
          & > ul {
            & > li {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .footerWrapper {
    & > .footerWrapperSub {
      // margin-top: -38%;
      // margin-top: -8%;

      & > .textWrapper {
        & > .right {
          & > ul {
            & > li {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .footerWrapper {
    & > .footerWrapperSub {
      // margin-top: -38%;
      // margin-top: -8%;

      & > .textWrapper {
        & > .right {
          & > ul {
            & > li {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 822px) {
  .footerWrapper {
    & > .footerWrapperSub {
      background-size: cover;

      & > .textWrapper {
        & > .left {
          flex: 1;
        }
        & > .right {
          flex: 1;

          & > ul {
            flex-direction: column;
            background: none;
            & > li {
              background: linear-gradient(
                270deg,
                #beb17b 73.25%,
                rgba(190, 177, 123, 0.3) 100.01%
              );
              margin-bottom: 2px;
              padding-left: 15px;
            }
          }
        }
      }

      & > .copy {
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footerWrapper {
    & > .footerWrapperSub {
      & > .copy {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .footerWrapper {
    & > .footerWrapperSub {
      height: 70vh;

      & > .textWrapper {
        flex-direction: column;
        right: 3%;
        margin: 0 auto;
        & > .left {
          margin: 0px auto;
          padding: 0px;
        }
      }

      & > .copy {
        margin-top: 100px;
        padding-top: auto;
        font-size: 12px;
      }
    }
  }
}
